html {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    border: 0px;
    padding: 0px;
}


.screen {
    max-width: 500px;
    height: calc(100vh - 10px);
    background-color: aquamarine;
    border: 0px;
    margin: 0px auto;
    padding: 0px;
}

.Droppable {
    position: absolute;
}

.Spirit {
    width: 50px;
    height: 50px;
}

.Warebox {
    width: 50px;
    height: 50px;
}

.Player {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 114514;
}

.ScoreBoard {
    position: absolute;
    z-index: 1919810;
    top: 20px;
    left: 20px;
    font-size: xx-large;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(214, 154, 75);
    background-color: rgb(253, 228, 194);
    padding: 20px;
    box-shadow: 0px 0px 50px 10px rgba(51, 51, 51, 0.165);
}

.ScoreBoard:before
{
    content:"Score: ";
}

.ScoreBoard:after
{
    content:" pts";
}

.BulletBoard {
    position: absolute;
    z-index: 1919810;
    top: 20px;
    right: 20px;
    font-size: x-large;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(75, 107, 214);
    background-color: rgb(194, 213, 253);
    padding: 10px;
    box-shadow: 0px 0px 50px 10px rgba(51, 51, 51, 0.165);
}

.BulletBoard:before
{
    content:"";
}

.BulletBoard:after
{
    content:" Attack";
}

.ScoreBoardFantom {
    position: absolute;
    top: 120px;
    left: 20px;
    font-size: large;
}

.ScoreBoardItem {
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(230, 163, 74);
    background-color: rgb(255, 198, 124);
    padding: 10px;
    box-shadow: 0px 0px 50px 10px rgba(51, 51, 51, 0.077);
    margin-top: 5px;
}

.ScoreBoardItem:after
{
    content:" pts";
}

.Bullet {
    position: absolute;
    width: 10px;
    height: 20px;
    border-radius: 30%;
    background-color: rgb(38, 38, 38);
}